body {
    font-family: 'Open sans', sans-serif;
}

.port-main {
    display: flex;
    margin-bottom: 140px;
}

.port-main-text {
    width: 50%;
    padding: 20px;
}

.port-main-text h2 span {
    color: orange;
}

.port-main-img {
    width: 50%;
    text-align: center;

}

.port-main-img img {
    width: 300px;
    margin: 0 auto;
    border-radius: 30%;
    border: 5px solid orange;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 7px;
}



.dream-big {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.db-img {
    width: 50%;
    text-align: center;
}

.db-img img {
    width: 300px;
    border-radius: 20px;
}

.db-text {
    width: 50%;
}

.db-text h1 {
    font-size: 40px;
    color: orange;
}

.db-text p {
    text-align: justify;
}

.db-text a {
    text-decoration: none;
    padding: 10px 25px;
    background: orange;
    color: #fff;
    border-radius: 7px;
}

.exp-area {
    padding: 0 40px;
    margin-bottom: 100px;
}

.exp-area-main {
    display: flex;
    gap: 50px;
}

.exp-1 {
    width: 50%;
    height: 400px;
    background: #f3f1f1;
    padding: 0 20px;
    box-shadow: 10px 10px 20px gray;
    border-left: 10px solid orange;
}

.exp-2 {
    width: 50%;
    height: 400px;
    background: #f3f1f1;
    padding: 0 20px;
    box-shadow: 10px 10px 20px gray;
    border-left: 10px solid tomato;
}

.exp-1 h5 {
    color: orange;
}

.exp-2 h5 {
    color: orange;
}

.exp-1 p {
    text-align: justify;
}

.exp-1 h1 {
    font-size: 35px;
}

.footer-sec p {
    text-align: center;
}